*,
*::before,
*::after {
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 8px;
	background-color: #111111;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #111111;
}

::-webkit-scrollbar-thumb {
	border-radius: 2px;
	background-color: #777;
	background-image: -webkit-linear-gradient(90deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent)
}

#content {
	display: block;
	/* max-width: 1200px;*/
	margin: auto;
	padding: 20px;
	padding-top: 55px;
	position: relative;
	min-height: calc(100vh - 160px);
	z-index: 10;
	box-sizing: border-box;
}

header {
	z-index: 4000;
	min-height: 50px;
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
}

header > div {
	line-height: 50px;
}

* {
	box-sizing: border-box;
}


html, body {
	margin: 0 !important;
	background: #EFEFEF;
	color: #282828;
	font-weight: 100;
	position: relative;
	font-family: 'Karla';
	min-height: 100%;
	width: 100vw;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;


}


/*Encapsulado de las páginas */
.enc {
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 400px;
	max-width: 1200px;
	margin: auto;
	padding: 10px;

}

/*Text decoration none*/
a.nts {
	text-decoration: none;
}

.center-block {
	display: block;
	text-align: center;
}


.uk-modal {
	z-index: 4000 !important;
}


.emojionearea-editor {
	width: 100%;
	height: 140px;
	padding: 5px;
	border-radius: 6px 6px 0 0;
	text-align: left;
	border: 2px #18222b solid;
	margin-top: 10px;
	overflow: auto;
}

.emojionearea-filters {
	width: 100%;
	overflow: hidden;
	min-height: 38px;
	margin-top: 0px;
	padding-top: 10px;
	background: #18222b;
	margin-bottom: -20px;
}

.emojionearea-filters i, .emojibtn {
	cursor: pointer;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: inline-block;
	transition: 200ms;
	border-radius: 8px;
}

.emojibtn:hover, .emojibtn:active {
	background-color: rgba(255, 255, 255, 0.2);
}

.emojionearea-filters i:first-child:hover, .emojionearea-filters i:first-child:active {
	background-color: rgba(255, 255, 255, 0);
}

.emojionearea-filters i:hover, .emojionearea-filters i:active {
	background-color: rgba(255, 255, 255, 0.2);
}


.emojionearea-tabs {
	width: 100%;
	max-height: 120px;
	overflow: auto;
	background: #0f151b;
}

.emojionearea-tab {
	padding: 10px;
}

.removecomentario {
	position: absolute;
	right: 9px;
	top: 6px;
	width: 32px;
	line-height: 32px;
	border-radius: 100%;
	background: #990000;
}

.removecomentario:hover, .removecomentario:active {
	position: absolute;
	right: 9px;
	top: 6px;
	width: 32px;
	line-height: 32px;
	border-radius: 100%;
	background: #FF0000;
	cursor: pointer;
}


.deleteadmin {
	position: absolute;
	bottom: 2px;
	right: 5px;
	background: #FF0000 !important;
	color: #FFFFFF;
	z-index: 500;
	width: 28px;
	height: 28px;
	border-radius: 12px;
	cursor: crosshair;
	line-height: 32px !important;
	font-size: 16px;
}

html, body {
	min-height: 100vh;
	width: auto;
}

#contenidos {
	position: relative;
	padding-top: 30px;
	left: 0;
	bottom: 0;
	right: 0;
	display: block;
	padding: 20px;
	font-weight: 100;
	font-family: 'Karla';
	min-height: calc(100vh - 210px);
}


/*footer {
	z-index: 3500;
	position: relative;
	bottom: 0;
	left: 0;
	right: 0;

	width: 100%;
	height: 160px;
	color: #FFF;
	text-align: center;
	border-top: 1px rgba(255, 255, 255, 0.2) solid;
	background: rgba(0, 0, 0, 0.8);
	backdrop-filter: blur(20px) saturate(180%);


	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;


}*/

.page {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	position: relative;
	display: block;
	z-index: 2;
}

#u_panel {
	position: absolute;
	top: 0;
	left: 0;
	top: 0;
	bottom: 0px;
	width: 240px;
	min-height: 100%;
	margin: 0px;
	overflow: auto;
	background: rgba(0, 0, 0, 0.8);
	backdrop-filter: blur(20px) saturate(180%);
	color: #FFF;
	padding: 10px;
	transition: 300ms;
}

@media (max-width: 640px) {
	#u_panel {
		left: -280px;
	}

	#cont {
		padding-left: 0px !important;
	}
}

.forceaperture {
	left: 0px !important;
	z-index: 200;
}

#lmenu a:link, #lmenu a:visited {
	color: #FFF;
	position: relative;
	display: block;
	padding: 10px;
	margin-bottom: 2px;
	border: 1px rgba(255, 255, 255, 0) solid;
	border-radius: 4px;
}

#lmenu a:hover, #lmenu a:active {
	text-decoration: none;
	border: 1px rgba(255, 255, 255, 0.4) solid;
}

.eactivo {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	border: 1px rgba(255, 255, 255, 0.4) solid !important;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.mopciones {
	position: absolute;
	top: 10px;
	left: 305px;
	right: 10px;
	bottom: 10px;
	background: transparent;
	padding: 5px;
	text-align: center;
	z-index: 10;
	transition: 300ms;
}
.mprogramas {
	position: absolute;
	top: 10px;
	left: 10px;
	bottom: 10px;
	background: rgba(255,255,255,0.75);
	width: calc(100% - 20px);
	max-width: 285px;
	border-radius: 4px;
	transition: 300ms;
	z-index: 20;
}

@media (max-width: 385px) {
	.mprogramas {
		max-width: calc(100% - 20px);
	}
	.mopciones {
		opacity: 0;
	}
}


#launcher {
	position: fixed;
	left: 10px;
	top: 2px;
	bottom: 0;
	font-size: 22px;
	cursor: pointer;
	color: #FFF;
	transition: 300ms;
}

#launcher:hover {
	color: #FFFF00;
	transform: scale(1.2);
	text-shadow: 1px 1px 4px #000;
}

#launcher:active {
	color: rgba(255, 255, 255, 0.75);
	transform: scale(0.8);
}

#trayicons {
	position: absolute;
	right: 10px;
	top: 4px;
	bottom: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0,0,0,0.4);
	border-radius: 4px;
	border: 1px inset #444;
	font-size: 12px;
	padding-left: 10px;
	padding-right: 10px;
}
#clock {
	font-weight: bold;
	text-shadow: 1px 1px 4px #000;
	cursor: pointer;

}
#olaucher {
	position: fixed;
	bottom: 35px;
	left: 5px;
	width: calc(100% - 10px);
	max-width: 480px;
	display: none;

	height: 95%;
	max-height: 520px;
	border-radius: 10px;
	background: rgba(0,0,0,0.85);
	z-index: 95000;
	backdrop-filter: blur(20px) saturate(180%);
	animation-duration: 300ms;
	animation-name: olauncher;
	transform: scale(1);
}

.window {
	backdrop-filter: blur(20px) saturate(180%);
	animation-duration: 300ms;
	animation-name: olauncher;
	transform: scale(1);
	background: rgba(255,255,255,0.6);
	border-radius: 6px 6px 4px 4px;
	border: 1px solid rgba(0,0,0,0.1);
	z-index: 500;
	overflow: hidden;
	box-shadow: 2px 2px 6px rgba(0,0,0,0.4);
	min-width: 300px !important;
	min-height: 200px !important;
	position: absolute;

}

@media (max-width: 640px) {
	.window {
		max-width: 100% !important;
		height: 100% !important;
		max-height: calc(100% - 32px) !important;
		width: 100% !important;
		top: 0 !important;
		left: 0 !important;
		right: 0 !important;
		bottom: 32px !important;
		transition: 300ms !important;
	}
	.task {
		text-align: center !important;
		width: 36px !important;
		justify-content: center !important;
		padding-left: 0px !important; 
        padding-right: 0px !important;
        margin-right: 0px !important;
	}
	.task span {
		display: none !important;
	}
}
.wmcontain {
	position: absolute;
	top: 30px; left: 4px; right: 4px; bottom: 5px;
	background: rgba(255,255,255,0.5);
	overflow: hidden;
	border-radius: 4px;
	border: 1px rgba(0,0,0,0.2) solid;

}

.wmtitle {
	position: absolute;
	top: 0;
	left:0;
	right: 100px;
	height: 30px;
	padding-right: 100px;
	/*background: rgba(0,0,0,0.4);*/
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-left: 10px;
	cursor: move;
	font-weight: bold;
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wmbuttons {
	position: absolute;
	top: 0;
	right: 0;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	background: transparent;
	/*width: 120px;*/
}

.close_window_button {
	color: #282828;
	/*background: #881100;*/
	width: 32px;
	text-align: center;
	transition: 300ms;
	cursor: pointer;
}
.close_window_button:hover, .close_window_button:active {
	color: #FF1100;
}

.resizer {
	position: absolute;
	right: -4px;
	bottom: -5px;
	width: 16px;
	height: 16px;
	background: rgba(0,0,0,0.2);
	border-radius:20px 0 0 0;
	cursor: col-resize;
}

@keyframes olauncher {
	from {
		opacity: 0;
		transform: scale(0.8);
	}

	to {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes wmcierre {
	from {
		opacity: 1;
		transform: scale(1);
	}

	to {
		opacity: 0;
		transform: scale(0.8);
	}
}

.wmcierre {
	animation-duration: 300ms;
	animation-name: wmcierre;
	transform: scale(0.8);
	transition: 300ms;
}

.maximized {
	max-width: 100% !important;
	height: 100% !important;
	max-height: calc(100% - 32px) !important;
	width: 100% !important;
	top: 0 !important;
	left: 0 !important;
	right: 0 !important;
	bottom: 32px !important;
	transition: 300ms !important;
}

.wminimized {
	top: calc(100% + 20px) !important;
	bottom: auto !important;
	transition: 300ms !important;
	position: fixed !important;
	opacity: 0 !important;
	transform: scale(0.2) !important;
	background: #000 !important;

}

.mr_window_button, .mm_window_button {
	cursor: pointer;
}
.mr_window_button:hover, .mm_window_button:hover {
	color: #0f151b;
	transition: 300ms;
}

.active {
	z-index: 85000 !important;
	box-shadow: 2px 2px 12px #000;
}
#taskmanager {
	position: absolute;
	top: 0;
	right: 100px;
	left: 50px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	background: transparent;
}
.task {
	width: 100%;
	position: relative;
	max-width: 140px;
	/*border: 2px rgba(150,150,150,0.4) ridge;*/
	height: 26px;
	/*border-radius: 4px;*/
	padding-left: 7px;
	padding-right: 16px;
	margin-right: 3px;
	/*background: rgba(255,255,255,0.2);*/
	cursor: pointer;
	font-size: 14px;
	transition: 300ms;
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: url('../img/vixta/A.PNG') center center no-repeat;
  background-size: 100% 100%;
  font-size: 12px;
  display: flex;
	align-items: center;
	justify-content: flex-start;
}

.task:hover,.task:active {
 background: url('../img/vixta/B.PNG') center center no-repeat;
  background-size: 100% 100%;
}

.activetask {
	/*border: 2px rgba(80,80,80,0.4) groove;*/
	/*background: rgba(55,55,55,0.2);*/
	background: url('../img/vixta/C.PNG') center center no-repeat;
  background-size: 100% 100%;
}

.activetask:hover, .activetask:active {
	background: url('../img/vixta/F.PNG') center center no-repeat;
  background-size: 100% 100%;
}

.mopciones button, .mopciones a:link, .mopciones a:visited, .mopciones a {
	border: 1px rgba(255,255,255,.4) outset;
	border-radius: 4px;
	padding: 5px;
	width: 100%;
	background: rgba(255,255,255,0.05);
	color: #FFF;
	transition: 100ms;
	display: block;
	text-decoration: none;
	margin-bottom: 4px;
	height: 36px;
}
.mopciones button:hover, .mopciones a:hover {
	border: 1px rgba(255,255,255,.4) outset;
	border-radius: 4px;
	padding: 5px;
	width: 100%;
	background: rgba(255, 255, 255, 0.15);
	color: #FFF;
	text-decoration: none;
}
.mopciones button:active, .mopciones a:active {
	border: 1px rgba(255,255,255,.4) inset;
	border-radius: 4px;
	padding: 5px;
	width: 100%;
	background: rgba(255, 255, 255, 0.05);
	color: #FFF;
}
*:focus {
	outline: none !important;
}

.files {
	text-align: center;
	position: relative;
	display: inline-block;
	width: 120px;
	height: 140px;
	border: 1px #000 solid;
	margin: 4px;
	transition: 300ms;
	cursor: pointer;
	border-radius: 8px;
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.files:hover, .files:active {
	border-color: #FF0000;
}
.barfiles {
	display: block;
	position: relative;
	height: 36px;
	background: rgba(40,100,255,0.75);
	color: #FFF;
	margin: -10px;
    margin-bottom: 5px;
    border-bottom: 1px rgba(0,0,0,0.1) solid;
     display: flex;
  align-items: center;
  justify-content: flex-start;
}

.barfiles span {
	 display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  cursor: pointer;
  border: 1px rgba(255,255,255,0.2) solid;
  border-radius: 4px;
  padding: 4px;
}
.barfiles span:hover,.barfiles span:active {
	border: 1px rgba(255,255,255,0.4) solid;
	background: rgba(255,255,255,0.2);
	transition: 100ms;
}